/* globals */

body {
  font-family: monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* links */

a {
  color: #0074D9;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #0074D9;
}

/* text */

ul {
  list-style: circle;
  margin: 0.5rem 0;
  padding-left: 1.9rem;
}

li {
  line-height: 1.8rem;
}

section {
  margin: 2rem;
}

.heading {
  color: #222;
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 0 0.7rem;
}

.content {
  color: #444;
  font-size: 1.0rem;
}

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
}